/*
FILE NAME: styles/about.css
WRITTEN BY: Håvard Bjerke
WHEN: October/November 2017
PURPOSE: Alignment and placement of member elements and pictures
*/

div.memberListing {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

div.memberListing > img {
  max-width: 200px;
  margin: 1em 1em 1em 0;
}
