/*
    FILE NAME: styles/faq.css
    WRITTEN BY: Kristoffer Håkonsen
    WHEN: October/November 2017
    PURPOSE: This page styles the links in the faq page
*/


.faq-area >p>  a{
    color: #8d3c58;
    cursor: pointer; 
}