/*
FILE NAME: styles/guestbook.css
WRITTEN BY: Håvard Bjerke
WHEN: October/November 2017
PURPOSE: Guestbook uses flexbox for alingment of guestbook submission field
         and the comment view.
*/

/* A comment is given a border at the bottom, an animation when being added, and a margin before the next comment. */
.guestbookComment {
  border-bottom: 2px white;
  animation: commentSlideIn 0.4s linear;
  border-bottom: solid 1px white;
  margin-bottom: 1em;
}

/* Animation for when a comment is added */
@keyframes commentSlideIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Form field should be a flexbox */
#commentForm > .formField {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* Give input labels a fixed size, for aesthetic reasons */
.formField > strong {
  width: 7em;
  flex-grow: 0;
}

/* Make input fields big in the submission form */
.formField > input,
.formField > textarea {
  flex-grow: 3;
}

/* Apply some size to the form fields */
.formField > input[type="button"] {
  max-width: 10em;
}

/* We abuse the span in order to align the submit button to the right side */
.formField > span {
  flex-grow: 5;
}

/* Validation message starts with 0 height, and is given a height when used. We hide overflow such that the next is hidden. */
div#commentValidationMessage {
  height: 0em;
  overflow: hidden;
  transition: height 0.2s linear;
}

/* Give the warning message a default height */
.invalidationMessage {
  height: 2.5em !important;
}

/* A validation message for comment submission */
div#commentValidationMessage > p {
  color: red;
  font-size: 1em;
  display: inline-block;
}

/* Applied to form elements when validation fails */
.invalidForm {
  border-color: red;
  background-color: #ffe0e0;
}

/* In mobile mode, put comment submission field as a column */
@media (max-width: 200px),
    (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #commentForm > .formField {
    flex-direction: column;
  }
}

/* In mobile mode, change font sizes */
@media (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #commentForm {
    font-size: 1.5em;
  }
  input, textarea { 
    font-size: 1em;
    line-height: 1em;
  }
}
