/*
FILE NAME: styles/home.css
WRITTEN BY: Sigrid Marita Kvamme
WHEN: October/November 2017
PURPOSE: Exhibit the albums and music of the band.
*/

h1#homesplash {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 6rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  opacity: 0;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

main#home {
  margin-top: -3em;
  width: 100% !important;
  max-width: 100%;
  margin-top: -3em;
}

div.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.4em;
  text-align: center;
}

img#bulletin {
  width: 100%;
  height: 100vh;
  opacity: 0;
}

.splash {
  opacity: 1 !important;
  transition: opacity 7.5s cubic-bezier(0, 0.32, 1, 1);
}

div#container {
  background-color: #000814;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
  display: inline;
}

main {
  width: 100%;
}

main#home > div > div > ul {
  padding: 0;
}

/* For styling and positioning social media buttons */
.wrapper {
  display: inherit;
  justify-content: center;
}

.social-media {
  width: 80px;
  height: 80px;
}

.wrap {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}
