/* Stylesheet for styles which are universal to site */

body {
  background-color: #1c1c1c;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

main {
  /* To place the navbar above the page content */
  position: relative;
  z-index: 0;
  
  max-width: 50em;
  margin: auto;
  background-color: #1f1f1f;
  box-shadow: 0 0 20px black;
  transition: opacity 0.4s;
  animation: mainFadeIn 0.4s linear;
}

nav {
  position: relative;
  z-index: 1;
}

.content-area {
  margin: auto 6em;
  padding-bottom: 5em;
  overflow: hidden;
}

@media (max-width: 720px) {
  .content-area {
    margin: 0;
  }
}

img {
  width: 100%;
}

/* Transition on switching articles */
@keyframes mainFadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/* Navbar */

/* Footer */

/* Text */

h1, main#home p, table th {
  text-transform: uppercase;
}

h1 {
  color: #8d3c58;
  font-size: 3em;
}

h2 {
  color: #eff4b6;
  font-size: 1.7em;
}

h3 {
  color: #eff4b6;
  font-size: 1.3em;
}

p, td {
  font-weight: 100;
  font-size: 1.2em;
  color: white;
}

strong {
    color: #eff4b6;
}

.center-text {
  text-align: center;
}

/* Table (for tourdate.html) */

th, td {
  padding: 2px 40px;
}

table {
  padding-bottom: 5em;
}

th {
  font-size: 1em;
  color: #dcdcdc;
  text-align: left;
}

video {
  max-width: 100%;
}

main#pictures > img{
  display: block;
  width: 640px;
  height: 400px;
  margin: auto;
  box-shadow:
}

footer{
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

footer div{
  display: flex;
  flex-direction: column;
}

footer button{
  background:none;
  color:inherit;
  border:none;
  padding:0;
  font: inherit;
  cursor: pointer;
  font-size: 12px;
}

footer h2{
  font-size: 15px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

footer div.social-media {
  height: 50px;
  width: 50px;
}
