/*Selve navbaren*/
.navbar {
    overflow:hidden;
    background-color: #333;
    font-family:Arial;
    padding-right: 50px;    /*Måtte padde litt, eller endre på dropdown oppførsel*/
    height: 46px;
   /*
       Låse navbar til toppen?
       Gir feil på dropdowns
     position:fixed;
     top:0;
    width: 100%;
       */

}

/*De "knappene" på navbaren som ikke har droppdown*/
.navbar > a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

}

/*Dropdown*/
.dropdown{
    float:right;
    overflow: hidden;
    
}

/*Dropdown knappene*/
.dropdown .dropbtn, .icon{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background: inherit;
    font-weight: bold;

}

/*Alt blir rødt ved hover*/
.navbar a:hover, .dropdown:hover .dropbtn , dropdown-content a:hover, .icon:hover{
    background-color: red;
	cursor: pointer; 
}

/*Dropdown bakgrunnen*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Lenkene på dropdownen*/
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}



/*Liten dropdown*/
.navbar > img{
    height: 46px; 
    width: auto;
    cursor: pointer;
}

/*dropdown icon for små skjermer*/
 .icon{
    display:none;
    font-size: 16px;
    padding-top: 11px;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

 .smalldropdown{
     position: relative;
     display: none;
 }

 .smalldropdown > a{
     float:none;
     display: block;
     text-align: center;
     padding-top: 10px;
 }

 /*Dropdown bakgrunnen for liten dropdown*/
.smalldropdown {
    display: none;
    position: absolute;
    background-color: #333;
    width: 100%;
    height: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:0px;
    top:40px;
}

/*Dette er så brei navbaren kan være før logoen må forsvinne*/
 @media (max-width: 780px){
     .navbar img{
         display: none;
     }
 }

 /*Når skjermen er mindre ennn 580px, så går vi over på liten skjerm dropdown (icon)*/
@media (max-width: 580px){

   .navbar > a, .dropbtn{
        display: none;
    } 

   .icon{
       display:block;
   }

}

 @media (orientation : portrait){
     .navbar > a, .dropbtn{
         display: none;
     }
     .icon{
         display:block;
     }
 }


.show{
    display: block;
}