/*Selve navbaren*/
.navbar {
    overflow:hidden;
    background-color: #333;
    font-family:Arial;
    padding-right: 50px;    /*Måtte padde litt, eller endre på dropdown oppførsel*/
    height: 46px;
   /*
       Låse navbar til toppen?
       Gir feil på dropdowns
     position:fixed;
     top:0;
    width: 100%;
       */

}

/*De "knappene" på navbaren som ikke har droppdown*/
.navbar a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

}

/*Dropdown*/
.dropdown{
    float:right;
    overflow: hidden;
    
}

/*Dropdown knappene*/
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background: inherit;

}

/*Alt blir rødt ved hover*/
.navbar a:hover, .dropdown:hover .dropbtn , dropdown-content a:hover{
    background-color: red;
	cursor: pointer; 
}

/*Dropdown bakgrunnen*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/*Lenkene på dropdownen*/
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.show {
    display: block;
}

.navbar img{
    height: 46px; 
    width: auto;
    cursor: pointer;
}

/*Dette er så brei navbaren kan være før logoen må forsvinne*/
 @media (max-width: 780px){
     .navbar img{
         display: none;
     }
 }

 /*Navbaren failer hvis den er mindre enn 580px*/
